{% extends "base.html" %}
{% block content %}
    <form id="signupForm" onsubmit="submitForm(); return false;">
        <div class="card">
            <h2 class="card-title">Sign Up :</h2>
            <hr class="card-divider">

            <div class="form-group">
                <label for="username">Name :</label>
                <input type="text" id="username" placeholder="Enter your name">
            </div>
            
            <div class="form-group">
                <label for="email">email :</label>
                <input type="email" id="email" placeholder="Enter your email">
            </div>
            
            <div class="form-group">
                <label for="password">password :</label>
                <input type="password" id="password" placeholder="Enter your password">
            </div>

            <div class="btn-container">
                <button type="submit">Sign Up</button>
            </div>
            <p id="feedback"></p>
        </div>
    </form>
    <p id="feedback"></p>

<script>
    async function submitForm() {
        const payload = {
            password: document.getElementById("password").value,
            info: {
                name: document.getElementById("username").value,
                coordinate: {
                    email: document.getElementById("email").value
                }
            }
        };
        const response = await fetch("/add_user", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(payload)
        });
        if (response.ok) {
                window.location.href = "/login";
        } else {
            data = await response.json()
            document.getElementById("feedback").innerText = data.error;
        }
    }
</script>
{% endblock %}